# project ignores
.vscode
node_modules
*.DS_Store
npm-debug.log
data
coverage
demo
src/decryption.ts
src/encryption.ts
lib/decryption.js
lib/encryption.js
.egookey
static/server_config.json
static/server_config_origin.json
__test
__lib
